<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="/submit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Mobile name</label>
                <input class="form-control" type="text" name="name" id="" placeholder="enter your mobile name">
            </div>
            <div class="form-group">
                <label for="">model</label>
                <input class="form-control" type="text" name="model" id="" placeholder="model name">
            </div>
            <div class="form-group">
                <label for="">price</label>
                <input class="form-control" type="text" name="price" id="" placeholder="price">
            </div>
            <div class="form-group">
                <label for="">image</label>
                <input class="form-control" type="file" name="image" id="" placeholder="image">
            </div>
            <button class="btn btn-sm btn-danger mt-3" >  submit</button>
        </form>
    </div>
 
</body>

</html>

