<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="/update" method="post">
            <div class="form-group">
                <label for="">Mobile name</label>
                <input  type="hidden" name="id" value="{{data.id}}">
                <input class="form-control" type="text" name="name" value="{{data.mobile_name}}" placeholder="enter your mobile name">
            </div>
            <div class="form-group">
                <label for="">model</label>
                <input class="form-control" type="text" name="model" value="{{data.model}}" placeholder="model name">
            </div>
            <div class="form-group">
                <label for="">price</label>
                <input class="form-control" type="text" name="price" value="{{data.price}}" placeholder="price">
            </div>
            <button class="btn btn-sm btn-danger mt-3" >  submit</button>
        </form>
    </div>
 
</body>

</html>

